/* line 1, ../src/sass/partials/regions/page/_layout.scss */
body {
  background-image: url(../images/cork-background.png);
  background-repeat: repeat;
}

/* line 6, ../src/sass/partials/regions/page/_layout.scss */
.site-name {
  width: 367px;
  height: 91px;
}

/* line 11, ../src/sass/partials/regions/page/_layout.scss */
.learn-more, .register {
  background-color: #7B8B88;
  color: white;
  padding: 8px;
  margin: 8px 8px 8px 0px;
  text-decoration: none;
  border-radius: 4px;
}

/* line 21, ../src/sass/partials/regions/page/_layout.scss */
.views-field-field-learn-more, .views-field-field-register {
  margin: 8px;
}

/* line 25, ../src/sass/partials/regions/page/_layout.scss */
.current-events {
  border-bottom: 1px solid #596E6E;
}

/* line 29, ../src/sass/partials/regions/page/_layout.scss */
.learn-more:hover {
  background-color: #97A5A2;
}

/* line 33, ../src/sass/partials/regions/page/_layout.scss */
.views-label-field-start-date {
  display: none;
}

/* line 37, ../src/sass/partials/regions/page/_layout.scss */
hr {
  border-bottom-width: .5px;
}

/* line 41, ../src/sass/partials/regions/page/_layout.scss */
.file-icon {
  display: none;
}

/* line 44, ../src/sass/partials/regions/page/_layout.scss */
table {
  border: none !important;
}

/* line 47, ../src/sass/partials/regions/page/_layout.scss */
.field-items {
  margin: 15px 15px 15px 0px;
}

/* line 1, ../src/sass/partials/regions/header/_layout.scss */
.site-header .site-name {
  padding: 0px;
  width: 367px;
  max-width: 367px;
  height: 91px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/../images/site-name.png?1477082858');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
}

@media only screen and (max-width: 800px) {
  /* line 11, ../src/sass/partials/regions/header/_layout.scss */
  .site-header .site-name {
    max-width: 800px;
    width: 800px;
    background-image: url("../images/site-name-mobile.png");
    background-position: 0% 0%;
  }
}
/* line 2, ../src/sass/partials/regions/footer/_layout.scss */
.footer-center .block h2 {
  margin-bottom: 4px;
  color: white;
}
/* line 7, ../src/sass/partials/regions/footer/_layout.scss */
.footer-center .block p a {
  color: #0083d6;
}
/* line 11, ../src/sass/partials/regions/footer/_layout.scss */
.footer-center .block p a:hover {
  color: white;
}

/* line 16, ../src/sass/partials/regions/footer/_layout.scss */
.footer-left {
  width: 450px;
}

/* line 21, ../src/sass/partials/regions/footer/_layout.scss */
.footer-left .footer {
  font-size: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 30px 0px 0px 0px;
}
/* line 28, ../src/sass/partials/regions/footer/_layout.scss */
.footer-left .footer2 {
  margin: 0px 0px 0px 30px;
  font-size: 15px;
  letter-spacing: 35px;
  text-transform: uppercase;
}

/* line 1, ../src/sass/partials/regions/navigation/_color.scss */
.main-nav .menu li {
  background-color: #596E6E;
}

/* line 5, ../src/sass/partials/regions/navigation/_color.scss */
a.menu_link {
  color: #646D6B;
}

/* line 9, ../src/sass/partials/regions/navigation/_color.scss */
.block-accordion-menu .active {
  background-color: #596E6E;
  color: white;
}
/* line 12, ../src/sass/partials/regions/navigation/_color.scss */
.block-accordion-menu .active .active-trail {
  color: white;
}

/* line 18, ../src/sass/partials/regions/navigation/_color.scss */
.main-nav .menu li:hover a {
  color: #596E6E;
}

/* line 23, ../src/sass/partials/regions/navigation/_color.scss */
.menu_item {
  padding: 0px;
}

/* line 27, ../src/sass/partials/regions/navigation/_color.scss */
.main-nav div div .menu li {
  padding: 0px;
}

/* line 2, ../src/sass/partials/pages/front/_layout.scss */
.panel-display {
  background-image: url(../images/full-background-with-images2-withflower.png);
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1048px) {
  /* line 9, ../src/sass/partials/pages/front/_layout.scss */
  .panel-display {
    background-size: cover;
  }
}
@media only screen and (max-width: 1080px) {
  /* line 15, ../src/sass/partials/pages/front/_layout.scss */
  main {
    padding: 0px;
  }
}
/* line 1, ../src/sass/partials/components/_heading.scss */
.heading {
  margin-bottom: 1px;
  background-image: none;
  repeat: no-repeat;
  width: 1059px;
  height: 104px;
}
/* line 8, ../src/sass/partials/components/_heading.scss */
.heading h2 {
  color: white;
  margin-left: 30px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 2px;
  padding-top: 30px;
  font-size: 35px;
  letter-spacing: 5px;
}
/* line 19, ../src/sass/partials/components/_heading.scss */
.heading h3 {
  color: white;
  margin: 0px 0px 0px 30px;
  font-size: 15px;
  letter-spacing: 35px;
}
/* line 26, ../src/sass/partials/components/_heading.scss */
.heading p {
  color: white;
  width: 40%;
  clear: both;
  margin-top: -54px;
  margin-left: 62%;
  font-style: italic;
  padding-right: 10px;
}

@media only screen and (max-width: 907px) {
  /* line 39, ../src/sass/partials/components/_heading.scss */
  .heading {
    background-color: #7B8B88;
  }
  /* line 41, ../src/sass/partials/components/_heading.scss */
  .heading p {
    display: none;
  }
}
/* line 1, ../src/sass/partials/components/_news.scss */
.news {
  clear: both;
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  height: auto;
  max-width: 50%;
  color: white;
}
/* line 10, ../src/sass/partials/components/_news.scss */
.news ul {
  padding: 0px 60px 0px 45px;
  list-style-type: square;
}
/* line 14, ../src/sass/partials/components/_news.scss */
.news li {
  padding-bottom: 20px;
}
/* line 18, ../src/sass/partials/components/_news.scss */
.news h2 {
  color: white;
  margin-left: 30px;
}
/* line 23, ../src/sass/partials/components/_news.scss */
.news a {
  color: white;
  text-decoration: none;
}
/* line 27, ../src/sass/partials/components/_news.scss */
.news a:hover {
  color: #003f87;
}

@media only screen and (max-width: 907px) {
  /* line 37, ../src/sass/partials/components/_news.scss */
  .news {
    width: 100%;
    height: auto;
    background-image: none;
    background-color: #7B8B88;
    clear: both;
    margin-bottom: 0px;
    max-width: 907px;
    padding-top: 0px;
    clear: left;
  }
  /* line 50, ../src/sass/partials/components/_news.scss */
  .news p {
    color: white;
    padding-bottom: 30px;
  }
  /* line 55, ../src/sass/partials/components/_news.scss */
  .news h2 {
    color: white;
    margin-left: 30px;
    margin-top: 30px;
  }
  /* line 61, ../src/sass/partials/components/_news.scss */
  .news a {
    color: white;
    text-decoration: underline;
  }

  /* line 68, ../src/sass/partials/components/_news.scss */
  .news::after {
    content: " ";
    background-image: url("../images/woman.png");
    background-size: cover;
    min-height: 352px;
    display: block;
  }
}
/* line 1, ../src/sass/partials/components/_palliative-care-intro-2.scss */
.palliative-care-intro-2 {
  color: white;
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
}
/* line 11, ../src/sass/partials/components/_palliative-care-intro-2.scss */
.palliative-care-intro-2 h2 {
  color: white;
  width: 95%;
  margin-top: 45px;
  margin-bottom: 10px;
}
/* line 19, ../src/sass/partials/components/_palliative-care-intro-2.scss */
.palliative-care-intro-2 p {
  width: 95%;
  margin-right: 15px;
}

@media only screen and (max-width: 907px) {
  /* line 26, ../src/sass/partials/components/_palliative-care-intro-2.scss */
  .palliative-care-intro-2 {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    background-image: url("../images/box2-right-mobile.png");
    clear: left;
    background-size: cover;
    height: 352px;
  }
}
/* line 2, ../src/sass/partials/components/_palliative-care-intro.scss */
.palliative-care-intro {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  margin-bottom: 0px;
  height: auto;
  width: 55%;
  clear: left;
}
/* line 11, ../src/sass/partials/components/_palliative-care-intro.scss */
.palliative-care-intro p {
  color: white;
  margin: 0px 30px;
}
/* line 16, ../src/sass/partials/components/_palliative-care-intro.scss */
.palliative-care-intro h2 {
  color: white;
  margin-left: 30px;
}
/* line 22, ../src/sass/partials/components/_palliative-care-intro.scss */
.palliative-care-intro a {
  color: white;
  text-decoration: underline;
}
/* line 27, ../src/sass/partials/components/_palliative-care-intro.scss */
.palliative-care-intro a:hover {
  color: #003f87;
}

@media only screen and (max-width: 907px) {
  /* line 33, ../src/sass/partials/components/_palliative-care-intro.scss */
  .palliative-care-intro {
    width: 100%;
    height: auto;
    background-image: none;
    background-color: #7B8B88;
    clear: both;
    margin-bottom: 0px;
    max-width: 907px;
    padding-top: 0px;
  }
  /* line 45, ../src/sass/partials/components/_palliative-care-intro.scss */
  .palliative-care-intro p {
    color: white;
    padding-bottom: 30px;
  }
  /* line 50, ../src/sass/partials/components/_palliative-care-intro.scss */
  .palliative-care-intro h2 {
    color: white;
    margin-left: 30px;
    margin-top: 30px;
  }
  /* line 56, ../src/sass/partials/components/_palliative-care-intro.scss */
  .palliative-care-intro a {
    color: white;
    text-decoration: underline;
  }
}
/* line 1, ../src/sass/partials/components/_student.scss */
.student {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  clear: left;
  height: auto;
  max-width: 49%;
}
/* line 7, ../src/sass/partials/components/_student.scss */
.student h2 {
  color: white;
  margin-left: 30px;
}
/* line 11, ../src/sass/partials/components/_student.scss */
.student p {
  color: white;
  margin-left: 30px;
}
/* line 14, ../src/sass/partials/components/_student.scss */
.student p img {
  margin-right: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 907px) {
  /* line 22, ../src/sass/partials/components/_student.scss */
  .student {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    width: 100%;
    height: auto;
    background-color: #7B8B88;
    min-width: 320px;
    max-width: 907px;
    clear: left;
  }

  /* line 33, ../src/sass/partials/components/_student.scss */
  h2 {
    margin-left: 30px;
  }

  /* line 37, ../src/sass/partials/components/_student.scss */
  p {
    margin-left: 30px;
  }
  /* line 39, ../src/sass/partials/components/_student.scss */
  p img {
    margin-left: 0px;
    margin-right: 5px;
  }
}
/* line 1, ../src/sass/partials/components/_views-row.scss */
.views-row {
  border-bottom: 1px solid #0083d6;
  margin-bottom: 20px;
}

@media only screen and (max-width: 907px) {
  /* line 3, ../src/sass/partials/components/_what-is-pci-2.scss */
  .what-is-pci-2 {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    clear: left;
    background-image: url(../images/box-1-right-mobile.jpg);
    height: 352px;
    clear: left;
    margin-bottom: 0px;
    background-size: cover;
  }
}
/* line 1, ../src/sass/partials/components/_what-is-pci.scss */
.what-is-pci {
  background-image: none;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  margin-bottom: 0px;
  height: auto;
  width: 70%;
}
/* line 10, ../src/sass/partials/components/_what-is-pci.scss */
.what-is-pci p {
  color: white;
  margin: 0px 30px;
}
/* line 15, ../src/sass/partials/components/_what-is-pci.scss */
.what-is-pci h2 {
  color: white;
  margin-left: 30px;
}
/* line 21, ../src/sass/partials/components/_what-is-pci.scss */
.what-is-pci a {
  color: white;
  text-decoration: underline;
}
/* line 26, ../src/sass/partials/components/_what-is-pci.scss */
.what-is-pci a:hover {
  color: #003f87;
}

@media only screen and (max-width: 907px) {
  /* line 34, ../src/sass/partials/components/_what-is-pci.scss */
  .what-is-pci {
    width: 100%;
    height: auto;
    background-image: none;
    background-color: #7B8B88;
    clear: both;
    margin-bottom: 0px;
  }
  /* line 43, ../src/sass/partials/components/_what-is-pci.scss */
  .what-is-pci p {
    color: white;
    padding-bottom: 30px;
  }
  /* line 48, ../src/sass/partials/components/_what-is-pci.scss */
  .what-is-pci h2 {
    color: white;
    margin-left: 30px;
    margin-top: 30px;
  }
  /* line 54, ../src/sass/partials/components/_what-is-pci.scss */
  .what-is-pci a {
    color: white;
    text-decoration: underline;
  }
}
