.footer-center .block {
  h2 {
    margin-bottom:4px;
    color: white;
  }

  p a {
    color:#0083d6;
  }

  p a:hover {
    color:white;
  }
}

.footer-left {
  min-width: 320px;
}


.footer {
  font-size: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 30px 0px 0px 0px;
}

.footer2 {
  margin: 0px;
  font-size: 15px;
  letter-spacing: 35px;
  text-transform: uppercase;
}

#footer-logo {
  margin-left: -25px;
}

.footer-center {
  margin-left: 12.22%;
}

@media only screen and (max-width: 800px){
  .footer-center {
    display: none;
  }
}
