.site-header .site-name {
  padding: 0px;
  width: 367px;
  max-width: 367px;
  height: 91px;
  @include replace-text("../images/site-name.png");
  background-color: transparent;
}

@media only screen and (max-width: $tablet){
  .site-header .site-name{
    width: 100%;
    height: auto;
    background-image: url('../images/texture-background.jpg');
    background-position: 0% 0%;
  }
  .page-title {
    display:none;
  }
}
