.heading {
	margin-bottom: 1px;
	background-image: none;
	repeat: no-repeat;
	height: 104px;

	h2{
		color: white;
		margin-left: 30px;
		display: inline-block;
		margin-top: 10px;
		margin-bottom:2px;
		padding-top: 30px;
		font-size: 35px;
		letter-spacing: 2px;
	}

	h3 {
		color: white;
		margin: 0px 0px 0px 34px;
		font-size: 15px;
		letter-spacing: 29px;
	}

	p{
		color:white;
		width: 35%;
		clear: both;
		margin-top: -54px;
		margin-left: 65%;
		padding-right: 10px;
	}
}

@media only screen and (max-width: $tablet){
	.heading {
		background-color: #7B8B88;
		p {
			display: none;
		}
	}

}
