.heading {
margin-bottom: 2.5px;
background-image: url(../src/images/site-logo-full-width.png);
repeat: no-repeat;
width: 1059px;
height: 104px;

h2{
color:white;
margin-left: 120px;
margin-top: 10px;
margin-bottom:10px;
padding-top:15px;
}

p{
color:white;	
margin-left: 120px;
}

}