.heading {
margin: 5px 0px;
paddint-top:15px;
height: 91px;
background-image: url(../images/site-logo-full-width.png);
repeat: no-repeat;

h2{
color:white;
margin-left: 120px;
margin-top: 10px;
margin-bottom:10px;
padding-top:15px;
}

p{
color:white;	
margin-left: 120px;
}

}