.news {
clear: both;
margin-top: 2.5px;
$zen-column-count: 2;
$zen-gutter-width: 0px;
@include zen-grid-item(1,1);
background-image: url("../images/box3-leftbox.png");
height: 342px;
max-width: 528px;
color: white;

ul{
padding:0px 60px 0px 45px;
list-style-type: square;
}
li{
padding-bottom:20px;	
}

h2{
color: white;
margin-left: 30px;	
text-transform: uppercase;
}

a{
color: white;
text-decoration: none;
}
a:hover {
color: #003f87;
}
} 