
@media only screen and (max-width: $tablet){
  .palliative-care-intro-2 {
    $zen-column-count: 1;
    @include zen-grid-item(1,1);
    background-image: url('../images/box2-right-mobile.png');
    @include zen-clear(left);
    background-size: cover;
    height: 352px;
  }
}
