
.palliative-care-intro {
	$zen-column-count: 1;
	$zen-gutter-width: 0px;
	@include zen-grid-item(1,1);
	margin-bottom: 0px;
	height: auto;
	width: 55%;
	@include zen-clear(left);

	p {
		color: white;
		margin: 0px 30px;
	}

	h2 {
		color: white;
		margin-left: 30px;
	}


	a {
		color: white;
		text-decoration: underline;
	}

	a:hover {
		color: #003f87;
	}
}

@media only screen and (max-width: $tablet){
	.palliative-care-intro {
		$zen-column-count: 1;
		width: 100%;
		height: auto;
		background-image: none;
		background-color: #7B8B88;
		clear: both;
		margin-bottom: 0px;
		max-width: $tablet;
		padding-top: 0px;


		p{
			color: white;
			padding-bottom: 30px;
		}

		h2{
			color: white;
			margin-left: 30px;
			margin-top: 30px;
		}

		a {
			color: white;
			text-decoration: underline;
		}

	}
}
