.palliative-care-intro-2 {
color: white;
$zen-column-count: 2;
$zen-gutter-width: 0px;
@include zen-grid-item(1,2);
background-image: url("../src/images/2ndRow-right-background.png");
background-repeat: no-repeat;
height: 342px;
max-width: 528px;


h2 {
color: white;
width: 95%;
margin-top: 45px;
margin-bottom: 10px;

}

p {
width: 95%;
margin-right: 15px;
}

	
}