.student {
margin-top: 2.5px;
$zen-column-count: 2;
$zen-gutter-width: 0px;
@include zen-grid-item(1,2);
background-image: url("../images/box3-rightbox.png");
height: 342px;
max-width: 528px;
margin-left: 530.5px;
h2 {
color: white; 
margin-left: 310px;
}
 p{
color: white;
margin-left: 311px;
padding-right: 5px;
}
}