.student {
  $zen-column-count: 1;
  @include zen-grid-item(1,1);
  @include zen-clear(left);
  height: auto;
  max-width:49%;
  h2 {
    color: white;
    margin-left: 30px;
  }
  p{
    color: white;
    margin-left: 30px;
    img {
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
}

@media only screen and (max-width: $tablet){
  .student{
    $zen-column-count: 1;
    @include zen-grid-item(1,1);
    width: 100%;
    height: auto;
    background-color: #7B8B88;
    min-width: 320px;
    max-width: $tablet;
    @include zen-clear(left);
  }

  h2 {
    margin-left: 30px;
  }

  p {
    margin-left: 30px;
    img {
      margin-left: 30px;
      margin-right: 5px;
    }
  }
}
