
@media only screen and (max-width: $tablet){
  .what-is-pci-2{
    $zen-column-count: 1;
    @include zen-grid-item(1,1);
    @include zen-clear(left);
    background-image: url(../images/box-1-right-mobile.jpg);
    height: 352px;
    clear: left;
    margin-bottom: 0px;
    background-size: cover;
  }
}
