.what-is-pci-2 {
$zen-column-count: 2;
$zen-gutter-width: 0px;
@include zen-grid-item(1,2);
background-image: url("../images/box1-right.png");
background-repeat: no-repeat;
height: 342px;
width: 528px;
margin-left: 530.5px;

h2 {
margin-top: 15px;
margin-bottom: 7px;	
}

p  {
	@include vertical-align();
}

}