.what-is-pci-2 {
margin:5px;
padding: 15px;
$zen-column-count: 2;
$zen-gutter-width: 0px;
@include zen-grid-item(1,2);
background-image: url("../images/box1-right.png");
height: 270px;
max-width: 490px;







h2 {
margin-top: 15px;
margin-bottom: 7px;
	
}

p  {
	@include vertical-align();
}







}